.service-form {
    padding-top: 150px;
    text-align: center;

    .modal-style {
        top: 40px;
        bottom: auto;
        max-width: 555px;
        margin: 0 auto;
        padding-left: 0 !important;
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        background-color: #ffffff;
        @include box-shadow(0 0 0 10px rgba(150, 150, 150, 0.5));
        @include breakpoint(extra-small) {
            top: 0;
            bottom: 0;
        }

        .modal-header {
            border-bottom: 6px solid #295cad;

            .close {
                position: absolute;
                top: 15px;
                right: 15px;
                width: 16px;
                height: 16px;
                background-color: #969696;
                background-image: url("../../images/close.png");
                background-repeat: no-repeat;
                font-family: "sans-serif";
                font-size: 12px;
                opacity: 1;
                line-height: 15px;
                @include border-radius(50%);
                @include user-select(none);
                @include transition-property(background-color);
                @include transition-duration(300ms);

                &:hover {
                    background-color: #b2b1b1;
                }

                &:active {
                    background-color: #878787;
                }
            }

            h3 {
                margin: 10px 0 0;
                font-size: 24px;
            }
        }
        .modal-body {
            padding: 0;

            .tab-navigator {
                padding: 14px 35px 19px;
                font-size: 0;
                @include background-image(linear-gradient(top, #f4f4f6 0%,#edeef0 80%,#dfe0e2 95%));
                @include breakpoint(extra-small){
                    padding: 19px 10px 19px;
                }

                .tab-arrow {
                    top: 2px;
                    vertical-align: bottom;
                    @include breakpoint(extra-small){
                        top: -20px;
                    }
                }

                ul {
                    overflow: hidden;
                    display: inline-block;
                    width: 345px;
                    margin: 0 36px;
                    border: 2px solid rgba(#bfbfbf, 0.7);
                    background-color: #ffffff;
                    font-size: 0;
                    @include border-radius(6px);
                    @include user-select(none);
                    @include breakpoint(extra-small) {
                        width: 190px;
                        margin: 0 15px;
                    }

                    li {
                        display: inline-block;
                        width: 33.333%;
                        border-top: none;
                        border-right: 1px solid #dcdcdc;

                        @include breakpoint(extra-small) {
                            display: block;
                            width: 100%;
                            border-right: none;
                            border-top: 1px solid #dcdcdc;

                            &:first-child {
                                border-top: none;
                            }
                        }

                        &:last-child {
                            width: 33.344%;
                            border: none;
                            @include breakpoint(extra-small) {
                                width: 100%;
                                border-top: 1px solid #dcdcdc;
                            }
                        }

                        &.active, &.active-tab {
                            background-color: #3a87ff;
                        }

                        &.active {
                            a {
                                text-decoration: underline;
                                color: #ffffff;
                            }
                        }

                        a {
                            display: block;
                            font-size: 15px;
                            line-height: 22px;
                            color: #c7c7c7;
                        }
                    }
                }
            }
            .tab-wrapper {
                padding: 0 29px 22px;

                .inner-content {
                    margin-top: 29px;
                    border: 2px dotted #a1a0a0;
                    background-color: #eff0f2;
                    font-size: 0;
                    text-align: left;
                    @include border-radius(3px);
                    @include user-select(none);
                    @include breakpoint(extra-small){
                        text-align: center;
                    }
                }
            }

        }
    }
}