.data {

    form {
        position: relative;
        margin: auto 0;
        padding: 8px 5px 18px;

        &::before {
            content: "";
            position: absolute;
            top: -24px;
            right: 48%;
            display: block;
            width: 20px;
            height: 38px;
            background-repeat: no-repeat;
            @include content-icons-sprite(man);
        }

        &:nth-child(2) {
            &::before {
                height: 34px;
                @include content-icons-sprite(mobile);
            }

            .wrapper {
                &:last-child {
                    p {
                        display: inline-block;
                        margin: 14px 0 0;
                        padding: 0;

                        small {
                            font-size: 15px;
                        }
                    }

                    .checkbox-style {
                        display: inline-block;
                        margin: 19px 0 0 9px;
                    }
                }
            }
        }
    }
}