.data {

    form {
        position: relative;
        margin: 30px auto 0;
        padding: 8px 5px 18px;

        &::before {
            content: "";
            position: absolute;
            top: -24px;
            right: 48%;
            display: block;
            width: 20px;
            height: 38px;
            background: inline-image("../images/content-icons/man.png");
            background-repeat: no-repeat;
        }

        &:nth-child(2) {
            &::before {
                background: inline-image("../images/content-icons/mobile.png");
                background-repeat: no-repeat;
            }

            .wrapper {
                &:last-child {
                    p {
                        display: inline-block;
                        margin: 14px 0 0;
                        padding: 0;

                        small {
                            font-size: 15px;
                        }
                    }

                    .checkbox-style {
                        display: inline-block;
                        margin: 19px 0 0 9px;
                    }
                }
            }
        }
    }
}