.wrapper {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    font-size: 0;
    @include breakpoint(extra-small){
        width: 100%;
    }

    &:nth-child(even) {
        padding-left: 16px;
        @include breakpoint(extra-small) {
            padding-left: 0;
        }
    }

    &.error {
        .help {
            position: relative;
            width: 225px;
            @include breakpoint(extra-small){
                margin: 0 auto;
            }

            a {
                position: absolute;
                top: -4px;
                left: -2px;
                display: block;
                width: 20px;
                height: 20px;
                border: 1px solid #3a87ff;
                background-color: #eff0f2;
                font-family: "HelveticaCE Regular";
                font-size: 15px;
                line-height: 15px;
                text-align: center;
                color: #3a87ff;
                @include border-radius(50%);
            }

            a + .popover {
                font-family: "Exo 2";
                font-size: 12px;
                text-align: center;
                color: #ff0202;
                @include box-shadow(none);

                .popover-content {
                    padding: 30px 25px;
                }

                .arrow {
                    left: -8px;
                    border-right-color: transparent;
                }
            }
        }

        input, input:focus {
            border: 2px solid #ff0101;
        }
    }

    input, .select2-container {
        margin-top: 3px;
        @include breakpoint(extra-small) {
            margin: 0 auto;
        }
    }

    input {
        display: block;
        width: 225px;
        height: 34px;
        padding: 0 15px;
        border: 2px solid #d0d0d1;
        outline: none;
        font-family: "Exo 2";
        font-size: 15px;
        @include border-radius(7px);
        @include transition-property(border);
        @include transition-duration(300ms);
        @include placeholder {
            font-family: "Exo 2";
            font-size: 15px;
        }

        &:focus {
            border: 2px solid #3a87ff;
        }
    }

    p {
        margin: 3px 0 0;
        padding-left: 3px;
        line-height: 21px;

        span {
            font-size: 9px;
            line-height: 15px;
        }
    }

    a {
        display: none;
    }
}