.checkbox-style {
    position: relative;
    width: 18px;
    height: 16px;
    cursor: pointer;

    span {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        @include check-sprite(checkbox-hover);

        &:hover {
            @include check-sprite(checkbox-checked);
        }
    }

    input {
        display: none;
        outline: none;

        &:checked + span {
            @include check-sprite(checkbox-checked);
        }
    }

    &.flag {
        width: 33px;
        height: 33px;
        @include border-radius(50%);

        input[type="checkbox"] {
            display: none;

            &:checked + span {
                &::before {
                    z-index: 10;
                    opacity: 1;
                    @include check-sprite(flag-2);
                }
                &::after{
                    z-index: 5;
                    opacity: 1;
                    @include background-image(linear-gradient(top, #fcfcfc 16%,#b8b8b8 100%));
                }
            }
        }

        span {
            background-color: #c7c7c7;
            @include check-sprite(flag-1);
            @include box-shadow(inset 0px 0px 1px rgba(#979898, 1));
            @include border-radius(50%);

            &::before, &::after {
                content: "";
                position: absolute;
                opacity: 0;
                display: block;
                width: 100%;
                height: 100%;
                @include border-radius(50%);
                @include box-shadow(inset 0px 0px 2px rgba(#969696, 1));
                @include transition-property(opacity);
                @include transition-duration(300ms);
            }

            &:hover {
                @include check-sprite(flag-2);

                &::before {
                    z-index: 10;
                    opacity: 1;
                    @include check-sprite(flag-2);
                }

                &::after{
                    z-index: 5;
                    opacity: 1;
                    @include background-image(linear-gradient(top, #fcfcfc 16%,#b8b8b8 100%));
                }
            }
        }
    }
}