.tab-arrow {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(#a5a5a5, 0.1);
    @include box-shadow(inset 0px 0px 2px rgba(#969696, 1));
    @include border-radius(50%);
    background-color: #c7c7c7;
    @include user-select(none);

    &.inactive {
        @include opacity(0.5);

        span{
            display: none;
        }
    }

    &::before, span {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        @include border-radius(50%);
    }
    &::before{
        content: "";
        z-index: 10;
        background-image: url("../../images/arrow.png");
        background-repeat: no-repeat;
    }

    &:last-child {
        &::before {
            left: 1px;
            @include transform(rotate(180deg));
        }
    }

    &:hover {
        span {
            @include opacity(1);

        }
    }

    &:active {
        span {
            @include opacity(1);
            @include background-image(linear-gradient(top, #e8e9eb 20%,#c8c7c8 66%,#c8c7c8 66%,#a4a2a2 100%));
        }
    }

    span {
        z-index: 5;
        @include opacity(0);
        @include box-shadow(inset 0px 0px 5px rgba(#a5a5a5, 1));
        @include background-image(linear-gradient(top, rgba(#FDFCFC, 1) 16%, rgba(#E4E4E4, 1) 42%, rgba(#CACACA, 1) 100%));
        @include transition-property(opacity);
        @include transition-duration(200ms);
    }
}